# Variables and F-Strings

In this module, we'll be discussing a key concept to Python and coding in general.

To create a variable, you'll need 2 things, the name and the value.


Variable names can start with any letter, however they cannot start with a number.

The value should be placed after the name, with an equal sign in between.

In [2]:
x = 1
print (x)

1

In [ ]:
Trusted
Jupyter Server: local
Python 3.7.2 32-bit: Not Started
Variable names are also case-sensitive. Can't start with a number. Can have all characters and underscores

[1]



x = 1
X = 2
print("x =", x)
print("X =", X)
x = 1
X = 2





Math can also be done on variables (similar to 0001)

Programming is different than math or algebra, set of instructions for a computer

talk about BEDMAS, executing right side code then assigning to left

[-]



#TODO

#examples of math
Data Types: float, int, string

[-]




Can